#login{
    margin-left: 336px;
    margin-right: 337px;
    width: 1248px;
    margin-bottom: 323px;
}
.heading1 {
    height: 48px;
    width: 110px;
}
.heading1 h1 {
    margin-top: 0;
    font: normal normal bold 36px/48px Roboto Slab;
    letter-spacing: 0px;
    color: #96BB36;
    
}
.Topline{
    margin-top: 35.5px;
    margin-left: 19.5px;
    width: 1120px;
    border: 1px solid #D8D8D8;
    height: 0;
    margin-bottom: 14px;
}

.Down{
    margin-right: 337px;
    margin-top: 93px;
    width: 1248px;
    display: flex;
    
}
.WelocomeHeading{
    display: flex;
    width: 405px;
    height: 60px;
    
}
.WelocomeHeading :first-child{
    margin: 0px;
    font: normal normal bold 46px/60px Roboto Slab;
    letter-spacing: 0px;
    color: #F0972A;
}
.WelocomeHeading :last-child{
    margin: 0px;
    margin-left: 11px;
    font: normal normal bold 46px/60px Roboto Slab;
    letter-spacing: 0px;
    color: #626262; 
}

.Discription{
    margin-top: 27px;
    width: 688px;
    height: 156px;
}
.Discription p{
    text-align: left;
    font: normal normal normal 20px/26px Roboto Slab;
    letter-spacing: 0px;
    color: #A5A5A5;
}
.Right{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 144px;
    
}
.Right button{
    cursor: pointer;
}
.email{
    height: 21px;
    width: 44px;
    text-align: left;
    font: normal normal bold 16px/21px Roboto Slab;
    letter-spacing: 0px;
    color: #F0972A;
}
.Right input{
    width: 294px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #A5A5A5;
    background: #F0EFEA 0% 0% no-repeat padding-box;
    border: 1px solid #A5A5A5;
    border-radius: 5px;

    font: 14px/19px Roboto;
    font-weight: bold;
    letter-spacing: 0px;
}
.password{
    width: 73px;
    height: 21px;
    margin-top: 23px;
    text-align: left;
    font: normal normal bold 16px/21px Roboto Slab;
    letter-spacing: 0px;
    color: #F0972A;
}

.Right button{
    margin-top: 38px;
    width: 123px;
    height: 40px;
    background-color: #96BB36;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    box-shadow: 0px 3px 6px #00000029 ;

    text-align: center;
    font: normal normal 900 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}